@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Baloo Bhaijaan 2';
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:35px;
    font-weight: 800;
    color: white;
    background: linear-gradient(135deg,#65799B,#5E2563);
}

h3 {
    font-size: 25px;
}

.cards-container {
    margin: 50px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-self: auto;
}

.book-card {
    padding: 30px;
    width: 350px;
    height: 250px;
    color: white;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
}

.book-card:hover {
    transform: scale(1.02);
    transition: 0.5s;
}

.book-card-style {
    box-shadow: 2px 2px 3px 1px rgba(70, 19, 117, 0.8);
    background: linear-gradient(135deg,#6E8EFB,#A777E3);
}

.book-card-style:hover {
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
}

.book-card-delete{
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.8);
    background: linear-gradient(135deg,#E3E3E3,#5D6874);
}

.switch {
    width: 100%;
    display: flex;
    align-items: center;
}

.switch-card {
    justify-content: flex-end;
}

.switch-lbl{
    display: inline-block;
    width: 65px;
    height: 33px;
    border-radius: 100px;
    background: linear-gradient(135deg,#29323C,#2B5876,#4E4376);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    margin-left: 10px;
}

.switch-lbl::after {
    content: '';
    background-color: #EBEDEF;
    border-radius: 50%;
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    top: 4px;
    left: 4px;
    transition: 0.3s;
}

.input-switch:checked + .switch-lbl::after {
    left: 35px;
}

.input-switch:checked + .switch-lbl {
    background: linear-gradient(135deg,#42E695,#3BB2B8);
}

.input-switch{
    display: none;
}

.herramientas {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin: 20px 30px 50px 10px;
}

.btn {
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
    background: linear-gradient(135deg,#5872c9,#815caf);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    background: linear-gradient(135deg,#9bb2ff,#c28fff);
    transform: scale(1.1);
    transition: 0.2s;
}

.add-book-modal{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    background-color: #29323ca8;
    height: 100vh;
    width: 100%;
}

.bloquearScroll{ /* cuando se abre el modal el body oculta evita scroll*/
    overflow: hidden;
}

.modal_form {
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    width: 60%;
    height: 75vh;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.cerrarContainer {
    width: 100%;
    text-align: right;
    position: relative;
    top: -12vh;
    right: 1vw;
}

.cerrar {
    background-color: #29323C;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

label {
    font-size: 20px;
    font-weight: 600;
}

input {
    padding: 5px;
    width: 60%;
    margin-left: 10px;
}

input:focus{
    outline: 0px;
}

.input {
    margin: 5px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.oculto {
    display: none;
}

.quitarContainer {
    display: none;
    width: 100%;
    text-align: right;
    position: relative;
    top: -1vh;
    right: -1vw;
    transition: .5s;
}

.botonEditar {
    display: inline-block;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.7);
    border-radius: 50%;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
}

.quitar {
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.agregar {
    background: linear-gradient(135deg,#70F570,#07F7F7);
}

.botonEditar:hover {
    transform: scale(1.3);
    transition: 0.5s;
}